NAVISOFT_DB_URL=jdbc:mysql://localhost:3306/pricetags?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Europe/Prague
NAVISOFT_DB_USERNAME=navisoft
NAVISOFT_DB_PASSWORD=change-me
NAVISOFT_FLYWAY_ENABLED=false
NAVISOFT_CASHDESK_PIN=change-me
